<!DOCTYPE html>
<head>
  <title>{% block title %} {% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="/css/smoothness/jquery-ui-1.8.18.custom.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="/js/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
  <script src="/js/base.js" type="text/javascript"></script>
  {% block head %}
  {% endblock %}
</head>

<body>

  <div id="wrapper">
    <!--Header-->
    <div id="header">
      <div id="login">
	{% if user.is_authenticated %}
	Logged in as {{ user.username }} 
	<a href="/logout/"><button >Logout</button></a>
	{% else %}
	<span id="login_error"></span>
	<input name="username" value="Username" class="default" />
	<input name="password" value="Password" class="default pw"  />
	<button id="login_btn" type="submit">Login</button>
	<a href="/register/"><button>Sign Up</button></a>
	{% endif %}
      </div>
    </div>
    
    <div id="container">
      
      <!--Navigation-->
      <div id="nav">
	{% block leftcol %}
	<a href="/student/"><button>My Progress</button></a>
	<a href="/student/degrees/list/"><button>View Degrees</button></a>
	<a href="/student/courses/list/"><button>View Classes</button></a>
	<a href="/student/degrees/manage/"><button>Manage Degrees</button></a>
	<a href="/student/courses/manage/"><button>Manage Classes</button></a>
	<a href="/student/transcript/import/"><button>Import Transcript</button></a>

	{% if user.is_superuser %}
	<h5 style="margin-top:25px;text-align:center;">Admin Tools</h5>
	<a href="/administrator/new_degree/"><button>New Degree</button></a>
	<a href="/administrator/open_degree/"><button>Update Existing Degree</button></a>
	<a href="/administrator/create_admin/"><button>Create Admin</button></a>
	{% endif %}
	{% endblock %}
      </div>
      
      <!--Page Content-->
      <div id="content">
	{% block rightcol %}
	{% endblock %}
      </div>
      
    </div>
    
  </div>

  <!--Footer-->
  <div id="footer">
    <div id="footerContent">
      <div id="left">
        Conner Reeves<br />
        <a href="http://connerscodes.com">ConnersCodes.com</a><br />
        <a href="mailto:conner@connerscodes.com">Email</a> | <a href="http://www.linkedin.com/profile/view?id=152671661">Linkedin</a>
      </div>
      <div id="right">
        Matt Forbes<br />
        <a href="http://ma.ttforbes.com">ma.ttforbes.com</a><br />
        <a href="mailto:m@ttforbes.com">Email</a> | <a href="http://www.linkedin.com/profile/view?id=161980363">Linkedin</a>
      </div>
    </div>
  </div>

</body>
</html>
