{% extends "student/student_base.html" %}
{% load degree_tags %}

{% block title %}
MyGradPath
{% endblock %}

{% block head %}
{{ block.super }}
<!--Graph Setup-->
<script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Credits');
        data.addRows([
          {% for entry in graph_entries %}
            [new Date( {{ entry.0.year }}, {{ entry.0.month }}, {{ entry.0.day }} ), {{ entry.1 }}],
          {% endfor %}
        ]);

        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        chart.draw(data, {
          displayAnnotations: true,
          displayRangeSelector: false,
          displayZoomButtons: false,
          fill: 0,
          colors: [
            '#369'
          ]
        });
      }
</script>

<script>
	$(function() {
	      $('.progressbar').each(function() {
	            var value = parseInt($(this).text());
	            $(this).empty().progressbar({
	            	value: value
	            }).prepend('<span style="float:left;margin-left:50%;line-height:25px">' + value + '%</span>');
	      });
	});
</script>

<style>
  .eval-compound > div + div { padding-left: 25px }
  #chart_div {
  	margin: 15px auto;
  	width:750px;
  	height:300px;
  	-moz-box-shadow: 0 0 15px #000;
	-webkit-box-shadow: 0 0 15px #000;
	box-shadow: 0 0 15px #000;
  }
  .progress {
  	margin-left:10px;
  	font-size:12px;
  }
  .progressbar {
  	margin:10px auto;
  	height:25px;
  }
  h3 {
  	font-size:15px;
  }​
</style>

{% endblock %}

{% block rightcol %}

<h3>Credit Progression</h3>
<div id='chart_div'></div>

<br />
<h3>Degree Requirements Breakdown</h3>
{% for item in progress %}
<br />
<div class="progress">
  <h4>{{ item.degree.name }}:</h4>

  <div class="progressbar">{{ item.completion }}</div>
  {{ item.evaluator|degree_doc }}
</div>
{% endfor %}

{% endblock rightcol %}