{% extends "base.html" %}

{% block title %}
MyGradPath
{% endblock %}

{% block leftcol %}

<a href="/student/progress"><button>My Progress</button></a>
<a href="/student/degrees/manage"><button>Manage Degrees</button></a>
<a href="/student/courses/manage"><button>Manage Courses</button></a>
<a href="/student/degrees/list"><button>View Degrees</button></a>
<a href="/student/courses/list"><button>View Courses</button></a>
<a href="/student/transcript/import"><button>Import Transcript</button></a>

<script type="text/javascript">
  $(document).ready(function() {
      $("button").button();
  });
</script>
{% endblock leftcol %}
