{% extends "base.html" %}

{% block title %}
MyGradPath
{% endblock %}

{% block leftcol %}

<a href="/student/"><button>My Progress</button></a>
<a href="/student/degrees/list/"><button>View Degrees</button></a>
<a href="/student/courses/list/"><button>View Classes</button></a>
<a href="/student/degrees/manage/"><button>Manage Degrees</button></a>
<a href="/student/courses/manage/"><button>Manage Classes</button></a>
<a href="/student/transcript/import/"><button>Import Transcript</button></a>

{% endblock leftcol %}
