{% extends "administrator/administrator_base.html" %}

{% block title %}
Edit Degree
{% endblock %}

{% block head %}
<style>

</style>
<link type="text/css" rel="stylesheet" href="/css/edit_degree.css" />
<script type="text/javascript" src="/js/edit_degree.js"></script>
<script type="text/javascript" src="/js/simplemodal.js"></script>
{% endblock %}

{% block rightcol %}

<div id="degreebase">
  
</div>

<div id="matchmodal">
  <div id="modaltabs">
    <span class="selected">specify course</span>
    <span>filter courses</span>
  </div>
  <div id="modalcourse" class="selected">
    <div>
      <label for="section">Course Section</label>
      <input type="text" name="section" />
    </div>
    <div>
      <label for="number">Course Number</label>
      <input type="text" name="number" />
    </div>
    <div>
      <label for="maxcredits">Max Repeatable Credits</label>
      <input type="text" name="maxcredits" />
    </div>
  </div>
  <div id="modalfilter">
    <div>
      <label for="repeatable">Repeatable?</label>
      <input type="checkbox" name="repeatable" />
    </div>
    <div>
      <label for="section">Course Section</label>
      <input type="text" name="section" />
    </div>
    <div>
      <label for="minnumber">Min. Course Number</label>
      <input type="text" name="minnumber" />
    </div>
    <button id="addprereq">Add Prerequisite</button>
    <div id="prereqs"></div>
  </div>
  <div>
    <button id="reqsave">Add Requirement</button>
  </div>
</div>
{% endblock rightcol %}
