.req {
    margin-bottom:15px;	
}
.req > div {
    margin-left:25px;	
}

div.node {
    border: 1px solid;
    padding: 10px 10px;
    margin-bottom: 20px !important;
}

/* the header */
div.node > div.header {
    position: relative;
    top: -15px;
    left: -10px;
    font-variant: small-caps;
}

div.node > div.header > span:first-child {
    margin-right: 15px;
    font-weight: bold;
}

div.node > div.header > input[type=text] {
    width: 25px;
    margin: 0px 20px 0px 5px;
}

div.node > div {
    margin: 5px 5px;
}

div.node > div.buttons {
    position: relative;
    bottom: -25px;
}

div.requirement {
    font-variant: small-caps;
}