.req {
    margin-bottom:15px;	
}
.req > div {
    margin-left:25px;	
}

div.node {
    border: 5px solid #999;
    padding: 10px 10px;
    margin-bottom: 20px !important;
}

/* the header */
div.node > div.header {
    position: relative;
    top: -15px;
    left: -10px;
    font-variant: small-caps;
}

div.node > div.header > span:first-child {
    margin-right: 15px;
    font-weight: bold;
}

div.node > div.header > input[type=text] {
    width: 25px;
    margin: 0px 20px 0px 5px;
}

div.node > div {
    margin: 5px 5px;
}

div.node > div.buttons {
    position: relative;
    bottom: -28px;
}

div.requirement {
    font-variant: small-caps;
}

div#matchmodal { 
    display: none;
    width: 500px;
}
#modaltabs > span {
    background-color: orange;
    padding: 5px;
    margin: 0px 15px 0px 0px;
    font-variant: small-caps;
    font-size: 11pt;
    cursor: pointer;
    display: inline-block;
}

#modaltabs > span.selected {
    border: 2px solid black;
}

#modalcourse, #modalfilter {
    display: none;
    padding: 15px;
    font-size: 10pt;
}

#matchmodal input[type=text] {
    width: 140px;
}

#matchmodal label {
    margin-top: 10px;
    width: 120px;
    display: inline-block;
    text-align: right;
}


#modalcourse.selected, #modalfilter.selected {
    display: block;
}