{% extends "student/student_base.html" %}

{% block head %}
<style>
	td {
		font-size:12px;
		border:1px solid black;
		-moz-box-shadow: 0 0 3px #000;
		-webkit-box-shadow: 0 0 3px #000;
		box-shadow: 0 0 3px #000;
	}
</style>
{% endblock %}

{% block rightcol %}
<h3>Manage Degrees</h3>
{% if degrees %}
<table width="100%" cellspacing="5">
  {% for d in degrees %}
  <tr>
    <td width="55%" style="padding-left: 8px">{{ d.name }}</td>
    <td width="35%" style="padding-left: 8px">{{ d.college.name }}</td>
    <td width="7%" style="text-align:center">{{ d.year }}</td>
    <td width="3%"style="text-align:center;width:30px;"><a href="/student/degrees/remove/?id={{ d.id }}"><img src="/img/remove_icon.png" /></a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
You have not added any degrees to your account.
{% endif %}
{% endblock %}
