{% extends "student/student_base.html" %}

{% block title %}Add Classes{% endblock %}

{% block head %}
<style>
ul {
	cursor:pointer;
	list-style-type:none;
}
li {
	border:1px solid black;
	padding-left:8px;
	margin: 5px 0;
	font-size:12px;
	-moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;
}
.courses {
	font-size:10px;
	margin-left:25px;
}
</style>
<script type="text/javascript" src="/js/courses_list.js"></script>
{% endblock %}

{% block rightcol %}

<h3>Add Classes</h3>
<ul>
{% for section in sections %}
<li id="{{ section.id }}">
  <span>{{ section.name }}</span>
  <div class="courses"></div>
</li>
{% endfor %}
</ul>

{% endblock %}
