{% extends "student/student_base.html" %}

{% block head %}
<style>
	table {
		padding:3px;
		font-size:15px;
	}
	td {
		border:1px solid black;
	}
</style>
{% endblock %}

{% block rightcol %}
<table width="100%">
{% for r in records %}
    <tr>
      <td style="text-align:right;padding-right:8px;width:100px;">{{ r.course.section.abbreviation }} {{ r.course.number }}</td>
      <td style="color:black;padding-left:8px;">{{ r.course.title }}</td>
      <td style="text-align:center;width:100px;">{{ r.date|date:"Y-m-d" }}</td>
      <td style="color:black;text-align:center;width:30px;">{{ r.grade }}</td>
      <td style="text-align:center;width:30px;"><a href="/student/courses/remove/?id={{ r.course.id }}&date={{r.date }}"><img src="/img/remove_icon.png" /></a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}
