{% extends "base.html" %}

{% block title %}
MyGradPath
{% endblock %}

{% block leftcol %}

<script type="text/javascript">
  $(document).ready(function() {
      $("button").button();
      $("#accordion").accordion({
          collapsible: true,
          active: false,
          autoHeight: false
       });
  });
</script>

<a href="#"><button>My Progress</button></a>
<a href="#"><button>View Degrees</button></a>
<a href="#"><button>View Classes</button></a>
<a href="#"><button>Manage Degrees</button></a>
<a href="#"><button>Manage Classes</button></a>
<a href="#"><button>Import Transcript</button></a>

<button style="margin-top:40px">FAQ</button>
<div id="accordion">
  <h3><a href="#">What is MGP?</a></h3>
  <div>
    <p>
      MyGradPath is an entirely web based
      application to help bridge the gap
      between students and advisors by
      allowing for online managment of
      degree requirement satisfaction.
    </p>
  </div>
  <h3><a href="#">How do I use MGP?</a></h3>
  <div>
    <p>
      Please see our brief introductory demo video, availible <i>here</i>.
    </p>
  </div>
  <h3><a href="#">Who Developed MGP?</a></h3>
  <div>
    <p>
      MyGradPath was developed over the 2011-2012
      school year by Western Washington University
      students Conner Reeves and Matt Forbes as part
      of the CS departments's senior project
      program.
    </p>
  </div>
  <h3><a href="#">Feature Suggestions</a></h3>
  <div>
    <p>
      If you have suggestions for features for the
      MyGradPath website, please feel free to
      suggest them! Our project email address
      is <i><a href="mailto:mygradpath@gmail.com">MyGradPath@Gmail.com</a></i>.
    </p>
  </div>
</div>
{% endblock leftcol %}
