{% extends "base.html" %}

{% block title %}
MyGradPath
{% endblock %}

{% block leftcol %}

<a href="#"><button>My Progress</button></a>
<a href="#"><button>View Degrees</button></a>
<a href="#"><button>View Classes</button></a>
<a href="#"><button>Manage Degrees</button></a>
<a href="#"><button>Manage Classes</button></a>
<a href="#"><button>Import Transcript</button></a>

<script type="text/javascript">
  $(document).ready(function() {
      $("button").button();
  });
</script>
{% endblock leftcol %}
